@import "tailwindcss";

:root {
  --background: #EDEDED;
}

@theme inline {
  --color-background: var(--background);
  --color-primary-dark: #0B2A1C;
  --color-primary-green: #27684A;
  --color-text-muted: #5A6962;
  --color-bg-light: #EDEDED;
  --font-sans: var(--font-hanken-grotesk);
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
}
